In [2]:
import multiprocessing
import pandas as pd
import re

In [13]:
tables = pd.read_csv('output-data/statistics/expanded_tables_annotations_cpa.csv')
tables_70 = tables.loc[ (tables['overall_table_density'] >= 70) ]
tables_70

,class,file_name,column_count,number_of_rows,overall_table_density,all_cols,rel_labels,type_labels
0,Product,Product_corememoriesco.com_September2020.json.gz,6,72,100,"{'url': 100, 'name': 100, 'offers:pricecurrenc...","{'url': 'url', 'name': 'name', 'offers:pricecu...","{'url': 'URL', 'name': 'Museum/name', 'offers:..."
1,Event,Event_davidlohmueller.com_September2020.json.gz,7,20,88,"{'startdate': 100, 'name': 100, 'description':...","{'startdate': 'startDate', 'name': 'name', 'de...","{'startdate': 'DateTime', 'name': 'Museum/name..."
2,Product,Product_winehousegvl.com_September2020.json.gz,5,43,100,"{'name': 100, 'sku': 100, 'offers:pricecurrenc...","{'name': 'name', 'sku': 'sku', 'offers:pricecu...","{'name': 'Museum/name', 'sku': 'IdentifierAT',..."
3,Product,Product_idaw.eu_September2020.json.gz,6,183,94,"{'description': 74, 'name': 100, 'image': 100,...","{'description': 'description', 'name': 'name',...","{'description': 'Text', 'name': 'Museum/name',..."
4,Product,Product_juvenileplanet.com_September2020.json.gz,5,10,88,"{'name': 100, 'sku': 80, 'offers:price': 80, '...","{'name': 'name', 'sku': 'sku', 'offers:price':...","{'name': 'Museum/name', 'sku': 'IdentifierAT',..."
...,...,...,...,...,...,...,...,...
947606,Product,Product_ameliebaku.com_September2020.json.gz,7,20,100,"{'name': 100, 'description': 100, 'offers:pric...","{'name': 'name', 'description': 'description',...","{'name': 'Museum/name', 'description': 'Text',..."
947607,Product,Product_wolfchild.com_September2020.json.gz,6,30,100,"{'name': 100, 'description': 100, 'image': 100...","{'name': 'name', 'description': 'description',...","{'name': 'Museum/name', 'description': 'Text',..."
947609,Product,Product_aransweatersdirect.com_September2020.j...,4,84,100,"{'name': 100, 'description': 100, 'offers:pric...","{'name': 'name', 'description': 'description',...","{'name': 'Museum/name', 'description': 'Text',..."
947610,Product,Product_mandystanley.com_September2020.json.gz,7,25,100,"{'name': 100, 'description': 100, 'offers:pric...","{'name': 'name', 'description': 'description',...","{'name': 'Museum/name', 'description': 'Text',..."
947611,Product,Product_blksport.com_September2020.json.gz,8,338,98,"{'name': 100, 'description': 92, 'brand': 100,...","{'name': 'name', 'description': 'description',...","{'name': 'Museum/name', 'description': 'Text',..."

In [14]:
type_lbls = {}
for index, row in tables.iterrows():
    for col in eval(row['type_labels']):
        if eval(row['type_labels'])[col] != None and eval(row['type_labels'])[col] != 'Wrong':
            type_lbls[col+'_'+row['file_name']] = eval(row['type_labels'])[col].strip()

In [4]:
tables = tables_70['file_name'].tolist()

In [5]:
text = pd.read_csv('../ColumnStatistics/textcols_without_values.csv.gz', compression='gzip')
text = text.loc[text['file_name'].isin(tables)]
text

,class,column_name,file_name
0,Product,url,Product_corememoriesco.com_September2020.json.gz
1,Product,name,Product_corememoriesco.com_September2020.json.gz
2,Product,offers:pricecurrency,Product_corememoriesco.com_September2020.json.gz
3,Product,offers:description,Product_corememoriesco.com_September2020.json.gz
4,Product,image,Product_corememoriesco.com_September2020.json.gz
...,...,...,...
5226278,Product,description,Product_blksport.com_September2020.json.gz
5226279,Product,brand,Product_blksport.com_September2020.json.gz
5226280,Product,sku,Product_blksport.com_September2020.json.gz
5226281,Product,offers:pricecurrency,Product_blksport.com_September2020.json.gz
5226282,Product,offers:availability,Product_blksport.com_September2020.json.gz

In [5]:
num = pd.read_csv('../ColumnStatistics/numcols.csv.gz', compression='gzip')
num = num.loc[num['file_name'].isin(tables)]
num

,class,column_name,file_name,value
0,Product,offers:price,Product_corememoriesco.com_September2020.json.gz,"[7.25, 24.95, 26.95, 24.95, 39.95, 24.95, 26.9..."
1,Product,offers:price,Product_winehousegvl.com_September2020.json.gz,"[28, 26, 20, 29, 23, 20, 26, 27, 20, 22, 26, 2..."
2,Product,offers:price,Product_juvenileplanet.com_September2020.json.gz,"[27.3, 44.0, 44.0, 44.0, 53.99, 0.0, 429.99, 4..."
3,Product,offers:price,Product_uppolomallets.com_September2020.json.gz,"[7.29, 159.99, 31.99, 26.99, 200.0, 100.0, 35...."
4,Product,offers:price,Product_tradefireworks.co.uk_September2020.jso...,"[8, 30, 10, 75, 80, 130, 15, 15, 50, 12, 30, 7..."
...,...,...,...,...
1071460,Product,offers:price,Product_growapairofcoconuts.com_September2020....,"[14.95, 21.99, 15.99, 25.0, 17.99, 14.99, 6.0,..."
1071461,Product,offers:price,Product_tinymosasaur.com_September2020.json.gz,"[14, 16, 16, 30, 26, 60, 60, 16, 14, 14, 14, 1..."
1071462,Product,offers:price,Product_ameliebaku.com_September2020.json.gz,"[260, 326, 121, 182, 135, 258, 194, 148, 119, ..."
1071464,Product,offers:price,Product_mandystanley.com_September2020.json.gz,"[2.7, 2.7, 2.7, 2.7, 2.7, 2.7, 40.0, 0.5, 2.7,..."
1071465,Product,offers:price,Product_blksport.com_September2020.json.gz,"[19.99, 14.99, 19.99, 19.99, 10.0, 19.99, 12.5..."

In [7]:
selection = pd.read_csv('output-data/cpa-datasets/selected_1.csv')
selection_to_dict = selection.to_dict('records')
selected_cols = {}
for row in selection_to_dict:
    selected_cols[row['file_name']] = eval(row['selected_cols'])

In [9]:
def num_perc(index):
    text = str(v[index]).lower()
    text = re.sub(r"[^\w\s]", "", text)
    total = len(text)
    
    text = re.sub(r"[^\x00-\x7F]+", "", str(text))
    text = re.sub(' +', '', str(text)).strip()
    
    num = re.sub(r"[a-z]", "", text)
    num = re.sub(' +', '', str(num)).strip()
    
    if(total == 0):
        return 0
    else:
        per = len(num) / total
        return per

In [10]:
#Returns values of cleaned textual columns
def get_values(file_name):
    
    #Product minimum3:
    file = dir_ + file_name
    
    #Open table
    df = pd.read_json(file, compression='gzip', lines=True)
    
    text_props = {}

    for column_name in df.columns:
        if column_name == col_name:
            #text_props.append(column_name)
            text_props[column_name] = df[df[column_name].notna()][column_name].tolist()
            #val_list.append(clean_text(str(df[df[column_name].notna()][column_name].tolist())))
                
    return text_props

In [11]:
dir_ = 'output-data/expanded-tables/'

### priceRange

In [13]:
#Locate all pricerange columns and remove already selected ones
col_name = 'pricerange'
pricerange = text.loc[(text['column_name'] == 'pricerange') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'pricerange' in selected_cols[tab] and tab in pricerange:
        pricerange.remove(tab)

In [16]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, pricerange)
pool.close()
pool.join()

#and put them in a dataframe
pricerange_list = []
i = 0
for val in values:
    class_ = pricerange[i].split('_')[0]
    
    for col in val:
        pricerange_list.append([class_, col, pricerange[i], val[col]])
    i += 1

pricer = pd.DataFrame( pricerange_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [21]:
#Calculate numerical percentage of values in a column
v = pricer['value'].tolist()

pool = multiprocessing.Pool(processes=21)
res = pool.map(num_perc, range(len(pricer)))
pool.close()
pool.join()

pricer['num_percentage'] = res

In [23]:
#Devide the columns into three categories based on the numerical percentage of the column values
def cat(row):
    if row <= 0.3:
        return 1
    elif row > 0.3 and row < 0.8:
        return 2
    else:
        return 3
    
pricer['num_category'] = pricer['num_percentage'].apply(lambda row: cat(row))

In [24]:
#From each category sample 1700/3 = 570 columns
cat_1 = pricer.loc[pricer['num_category'] == 1]['file_name'].tolist()[:570]
cat_2 = pricer.loc[pricer['num_category'] == 2]['file_name'].tolist()[:570]
cat_3 = pricer.loc[pricer['num_category'] == 3]['file_name'].tolist()[:570]

for cat in cat_1:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    selected_cols[cat]['pricerange'] = 'Value Heterogeneity'
    
for cat in cat_2:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    selected_cols[cat]['pricerange'] = 'Value Heterogeneity'
    
for cat in cat_3:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    selected_cols[cat]['pricerange'] = 'Value Heterogeneity'

### offers:price

In [27]:
#Locate all offers:price columns and remove already selected ones
col_name = 'offers:price'
offerprice = text.loc[(text['column_name'] == 'offers:price') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'offers:price' in selected_cols[tab] and tab in offerprice:
        offerprice.remove(tab)

In [31]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, offerprice)
pool.close()
pool.join()

#and put them in a dataframe
offerprice_list = []
i = 0
for val in values:
    class_ = offerprice[i].split('_')[0]
    
    for col in val:
        offerprice_list.append([class_, col, offerprice[i], val[col]])
    i += 1

priceoffer = pd.DataFrame( offerprice_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [35]:
#Calculate numerical percentage of values in a column
v = priceoffer['value'].tolist()

pool = multiprocessing.Pool(processes=21)
res = pool.map(num_perc, range(len(priceoffer)))
pool.close()
pool.join()

priceoffer['num_percentage'] = res

In [39]:
off = priceoffer.loc[(priceoffer['num_percentage'] < 0.5) & (priceoffer['num_percentage'] > 0.1) ][:800]['file_name'].tolist()

for tab in off:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'offers:price' not in selected_cols[tab]:
        selected_cols[tab]['offers:price'] = 'Value Heterogeneity'
        
off_2 = priceoffer_2[:800]['file_name'].tolist()

for tab in off_2:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'offers:price' not in selected_cols[tab]:
        selected_cols[tab]['offers:price'] = 'Value Heterogeneity'

### telephone

In [43]:
#Locate all telephone columns and remove already selected ones
col_name = 'telephone'
tel = text.loc[(text['column_name'] == 'telephone') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'telephone' in selected_cols[tab] and tab in tel:
        tel.remove(tab)

In [47]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, tel)
pool.close()
pool.join()

#and put them in a dataframe
telephone_list = []
i = 0
for val in values:
    class_ = tel[i].split('_')[0]
    
    for col in val:
        telephone_list.append([class_, col, tel[i], val[col]])
    i += 1
    
telephone = pd.DataFrame( telephone_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [50]:
#Calculate numerical percentage of values in a column
v = telephone['value'].tolist()

pool = multiprocessing.Pool(processes=21)
res = pool.map(num_perc, range(len(telephone)))
pool.close()
pool.join()

telephone['num_percentage'] = res

In [52]:
#Select columns from 2 categories
tel_1 = telephone.loc[(telephone['num_percentage'] > 0.5) & (telephone['num_percentage'] < 0.7)][:800]['file_name'].tolist()
tel_2 = telephone.loc[(telephone['num_percentage'] > 0.8)][:800]['file_name'].tolist()

for tab in tel_1:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'telephone' not in selected_cols[tab]:
        selected_cols[tab]['telephone'] = 'Value Heterogeneity'
        
        
for tab in tel_2:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'telephone' not in selected_cols[tab]:
        selected_cols[tab]['telephone'] = 'Value Heterogeneity'

### duration

In [57]:
#Locate all duration columns and remove already selected ones
col_name = 'duration'
dur = text.loc[(text['column_name'] == 'duration') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'duration' in selected_cols[tab] and tab in dur:
        dur.remove(tab)

In [61]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, dur)
pool.close()
pool.join()

#and put them in a dataframe
duration_list = []
i = 0
for val in values:
    class_ = dur[i].split('_')[0]
    
    for col in val:
        duration_list.append([class_, col, dur[i], val[col]])
    i += 1
    
duration = pd.DataFrame( duration_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [65]:
duration

,class,column_name,file_name,value
0,MusicRecording,duration,MusicRecording_mp3keep.ru_September2020.json.gz,"[PT3M51S, PT4M29S, PT6M07S, PT4M04S, PT15M01S,..."
1,MusicRecording,duration,MusicRecording_bencrosbymusic.com_September202...,"[PT3M58S, PT4M23S, PT2M58S, PT2M38S, PT2M11S, ..."
2,Movie,duration,Movie_123moviesfx.com_September2020.json.gz,"[N/A, 86 min, 86 min, 84 min, 88 min, 111 min,..."
3,Movie,duration,Movie_fanproj.net_September2020.json.gz,"[120 min, 140 min, N/A, 138 min, 165 min, 163 ..."
4,MusicRecording,duration,MusicRecording_travisdaggettmusic.com_Septembe...,"[PT2M21S, PT2M55S, PT2M33S, PT2M51S, PT2M40S, ..."
...,...,...,...,...
9314,MusicRecording,duration,MusicRecording_journey-north.com_September2020...,"[PT10M9S, PT6M18S, PT6M2S, PT3M54S, PT3M35S, P..."
9315,Event,duration,Event_todayna.org_September2020.json.gz,"[PD3TH0M0, PT2H, PT4H30M, PT1H, PT1H, PT1H30M,..."
9316,MusicRecording,duration,MusicRecording_xn--80anjg9azc.me_September2020...,"[PT5M53S, PT3M01S, PT3M30S, PT5M25S, PT3M34S, ..."
9317,MusicRecording,duration,MusicRecording_collinjohnsonmusic.com_Septembe...,"[PT3M2S, PT4M30S, PT12S, PT4M21S, PT4M26S, PT4..."
9318,MusicRecording,duration,MusicRecording_johnnychimes.com_September2020....,"[PT4M55S, PT4M52S, PT3M5S, PT3M44S, PT5M6S, PT..."

In [62]:
#Group columns using different metrics for duration
def cat_duration(row):
    if 'min' in row:
        if 'sec' in row:
            return 1
        else:
            return 2
    elif 'PT' in row:
        return 3
    elif 'PD' in row:
        return 4
    elif 'Min.' in row:
        return 5
    elif ':' in row:
        return 6
    elif re.search('[0-9]+h [0-9]+m', row):
        return 7
    elif re.search('[0-9]+m [0-9]+s', row):
         return 8
    else:
        return None
    
duration['category'] = duration['value'].apply(lambda row: cat_duration(str(row)))

In [69]:
#From each category sample 1700/3 = 570 columns
cat_1 = duration.loc[duration['category'] == 1]['file_name'].tolist()[:100]
cat_2 = duration.loc[duration['category'] == 2]['file_name'].tolist()[:100]
cat_3 = duration.loc[duration['category'] == 3]['file_name'].tolist()[:100]
cat_4 = duration.loc[duration['category'] == 4]['file_name'].tolist()[:100]
cat_5 = duration.loc[duration['category'] == 5]['file_name'].tolist()[:100]
cat_6 = duration.loc[duration['category'] == 6]['file_name'].tolist()[:100]
cat_7 = duration.loc[duration['category'] == 7]['file_name'].tolist()[:100]
cat_8 = duration.loc[duration['category'] == 8]['file_name'].tolist()[:100]

all_duration = cat_1 + cat_2 + cat_3 + cat_4 + cat_5 + cat_6 + cat_7 + cat_8

for cat in all_duration:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'duration' not in selected_cols[cat]:
        selected_cols[cat]['duration'] = 'Value Heterogeneity'

### weight

In [72]:
#Locate all weight columns and remove already selected ones
col_name = 'weight'
w = text.loc[(text['column_name'] == 'weight') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'weight' in selected_cols[tab] and tab in w:
        w.remove(tab)

In [76]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, w)
pool.close()
pool.join()

#and put them in a dataframe
weight_list = []
i = 0
for val in values:
    class_ = w[i].split('_')[0]
    
    for col in val:
        weight_list.append([class_, col, w[i], val[col]])   
    i += 1
    
weight = pd.DataFrame( weight_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [80]:
#Group weight columns under different categories based on measure metrics used
def weight_cat(row):
    if 'kgs' in row:
        return 1
    elif 'kg' in row:
        return 2
    elif 'lbs' in row:
        return 3
    elif 'lb' in row:
        return 4
    elif 'ounces' in row:
        return 5
    elif 'oz' in row:
        return 6
    elif 'grams' in row:
        return 7
    elif re.search('[0-9]+ g', row):
        return 8
    else:
        return None
    
weight['category'] = weight['value'].apply(lambda row: weight_cat(str(row).lower()))

In [82]:
#Select 100 columns from each category
cat_1 = weight.loc[weight['category'] == 1]['file_name'].tolist()[:100]
cat_2 = weight.loc[weight['category'] == 2]['file_name'].tolist()[:100]
cat_3 = weight.loc[weight['category'] == 3]['file_name'].tolist()[:100]
cat_4 = weight.loc[weight['category'] == 4]['file_name'].tolist()[:100]
cat_5 = weight.loc[weight['category'] == 5]['file_name'].tolist()[:100]
cat_6 = weight.loc[weight['category'] == 6]['file_name'].tolist()[:100]
cat_7 = weight.loc[weight['category'] == 7]['file_name'].tolist()[:100]
cat_8 = weight.loc[weight['category'] == 8]['file_name'].tolist()[:100]

all_weight = cat_1 + cat_2 + cat_3 + cat_4 + cat_5 + cat_6 + cat_7 + cat_8

for cat in all_weight:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'weight' not in selected_cols[cat]:
        selected_cols[cat]['weight'] = 'Value Heterogeneity'

### height

In [85]:
#Locate all height columns and remove already selected ones
col_name = 'height'
h = text.loc[(text['column_name'] == 'height') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'height' in selected_cols[tab] and tab in h:
        h.remove(tab)

In [89]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, h)
pool.close()
pool.join()

#and put them in a dataframe
height_list = []
i = 0
for val in values:
    class_ = h[i].split('_')[0]
    
    for col in val:
        height_list.append([class_, col, h[i], val[col]])
        
    i += 1
    
height = pd.DataFrame( height_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [94]:
#Group height columns under different categories based on measure metrics used
def height_cat(row):
    if 'undefined' in row:
        return None
    elif 'inches' in row:
        return 1
    elif 'in' in row:
        return 6
    elif 'cm' in row:
        return 2
    elif 'mm' in row:
        return 3
    elif 'm' in row:
        return 4
    elif re.search('[0-9]+\'[0-9]+', row):
        return 5
    else:
        return None
    
height['category'] = height['value'].apply(lambda row: height_cat(str(row).lower()))

In [97]:
#Select 100 columns from each category

cat_1 = height.loc[height['category'] == 1]['file_name'].tolist()[:100]
cat_2 = height.loc[height['category'] == 2]['file_name'].tolist()[:100]
cat_3 = height.loc[height['category'] == 3]['file_name'].tolist()[:100]
cat_4 = height.loc[height['category'] == 4]['file_name'].tolist()[:100]
cat_5 = height.loc[height['category'] == 5]['file_name'].tolist()[:100]
cat_6 = height.loc[height['category'] == 6]['file_name'].tolist()[:100]

all_height = cat_1 + cat_2 + cat_3 + cat_4 + cat_5 + cat_6

for cat in all_height:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'height' not in selected_cols[cat]:
        selected_cols[cat]['height'] = 'Value Heterogeneity'

### width

In [100]:
#Locate all width columns and remove already selected ones
col_name = 'width'
wid = text.loc[(text['column_name'] == 'width') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'width' in selected_cols[tab] and tab in wid:
        wid.remove(tab)

In [104]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, wid)
pool.close()
pool.join()

#and put them in a dataframe
width_list = []
i = 0
for val in values:
    class_ = wid[i].split('_')[0]
    
    for col in val:
        width_list.append([class_, col, wid[i], val[col]])
        
    i += 1
    
width = pd.DataFrame( width_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [109]:
#Group width columns under different categories based on measure metrics used
width['category'] = width['value'].apply(lambda row: height_cat(str(row).lower()))

In [111]:
#Select 100 columns from each category

cat_1 = width.loc[width['category'] == 1]['file_name'].tolist()[:100]
cat_2 = width.loc[width['category'] == 2]['file_name'].tolist()[:100]
cat_3 = width.loc[width['category'] == 3]['file_name'].tolist()[:100]
cat_4 = width.loc[width['category'] == 4]['file_name'].tolist()[:100]
cat_6 = width.loc[width['category'] == 6]['file_name'].tolist()[:100]

all_width = cat_1 + cat_2 + cat_3 + cat_4 + cat_6

for cat in all_width:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'width' not in selected_cols[cat]:
        selected_cols[cat]['width'] = 'Value Heterogeneity'

### faxNumber

In [114]:
#Locate all faxnumber columns and remove already selected ones
col_name = 'faxnumber'
fax = text.loc[(text['column_name'] == 'faxnumber') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'faxnumber' in selected_cols[tab] and tab in fax:
        fax.remove(tab)

In [118]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, fax)
pool.close()
pool.join()

#and put them in a dataframe
faxnumber_list = []
i = 0
for val in values:
    class_ = fax[i].split('_')[0]
    
    for col in val:
        faxnumber_list.append([class_, col, fax[i], val[col]])
        
    i += 1
    
faxnumber = pd.DataFrame( faxnumber_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [122]:
faxnumber

,class,column_name,file_name,value
0,LocalBusiness,faxnumber,LocalBusiness_ludington.org_September2020.json.gz,"[(231) 757-2406, (231) 845-1034, (231) 843-708..."
1,LocalBusiness,faxnumber,LocalBusiness_ashevillehba.com_September2020.j...,"[(828) 684-8887, (828) 277-5168, (828) 254-012..."
2,Person,faxnumber,Person_fearrininsurance.com_September2020.json.gz,"[(317) 854-0499, (317) 854-0499, (765) 649-824..."
3,LocalBusiness,faxnumber,LocalBusiness_southernsaratoga.org_September20...,"[(518) 588-371-0512, (518) 893-5057, (518) 874..."
4,LocalBusiness,faxnumber,LocalBusiness_ourwrc.com_September2020.json.gz,"[(413) 731-8255, None, (413) 786-3903, (413) 7..."
...,...,...,...,...
2123,LocalBusiness,faxnumber,LocalBusiness_terrasit.com_September2020.json.gz,"[053 333 925, 033 424 506, 051 508 999, 032 61..."
2124,LocalBusiness,faxnumber,LocalBusiness_agaip.qc.ca_September2020.json.gz,"[514 425-6665, 514 453-0572, 514 696-9757, 514..."
2125,LocalBusiness,faxnumber,LocalBusiness_tenterfieldchamber.com.au_Septem...,"[02 6736 2637, 0267363217, 02 6736 2912, (02) ..."
2126,Person,faxnumber,Person_altschools.net_September2020.json.gz,"[(773)728-3335, (773)561-3781, (773 )285-2215,..."
2127,Place,faxnumber,Place_roberthalf.de_September2020.json.gz,"[0221 1206112, 0201 8215556, 040 30087555, 020..."

In [121]:
#Calculate numerical percentage of values in a column
v = faxnumber['value'].tolist()

pool = multiprocessing.Pool(processes=21)
res = pool.map(num_perc, range(len(v)))
pool.close()
pool.join()

faxnumber['num_percentage'] = res

In [123]:
#Select 800 columns from 2 categories
fax_1 = faxnumber.loc[(faxnumber['num_percentage'] > 0.5) & (faxnumber['num_percentage'] < 0.7)][:800]['file_name'].tolist()
fax_2 = faxnumber.loc[(faxnumber['num_percentage'] > 0.8)][:800]['file_name'].tolist()

for tab in fax_1:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'faxnumber' not in selected_cols[tab]:
        selected_cols[tab]['faxnumber'] = 'Value Heterogeneity'
        
        
for tab in fax_2:
    if tab not in selected_cols:
        selected_cols[tab] = {}
    if 'faxnumber' not in selected_cols[tab]:
        selected_cols[tab]['faxnumber'] = 'Value Heterogeneity'

### servingSize

In [128]:
#Locate all nutrition:servingsize columns and remove already selected ones
col_name = 'nutrition:servingsize'
ser = text.loc[(text['column_name'] == 'nutrition:servingsize') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'nutrition:servingsize' in selected_cols[tab] and tab in ser:
        ser.remove(tab)

In [132]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, ser)
pool.close()
pool.join()

#and put them in a dataframe
serving_list = []
i = 0
for val in values:
    class_ = ser[i].split('_')[0]
    
    for col in val:
        serving_list.append([class_, col, ser[i], val[col]])
        
    i += 1
    
    
serving = pd.DataFrame( serving_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [137]:
def serving_cat(row):
    if 'cup' in row:
        return 1
    elif 'serving' in row:
        return 2
    elif 'ounce' in row:
        return 3
    elif 'slice' in row:
        return 4
    elif 'oz' in row:
        return 5
    elif 'portion' in row:
        return 6
    elif 'gram' in row:
        return 7
    elif 'mg' in row:
        return 8
    else:
        return None
    
serving['category'] = serving['value'].apply(lambda row: serving_cat(str(row).lower()))

In [139]:
cat_1 = serving.loc[serving['category'] == 1]['file_name'].tolist()[:100]
cat_2 = serving.loc[serving['category'] == 2]['file_name'].tolist()[:100]
cat_3 = serving.loc[serving['category'] == 3]['file_name'].tolist()[:100]
cat_4 = serving.loc[serving['category'] == 4]['file_name'].tolist()[:100]
cat_5 = serving.loc[serving['category'] == 5]['file_name'].tolist()[:100]
cat_6 = serving.loc[serving['category'] == 6]['file_name'].tolist()[:100]
cat_7 = serving.loc[serving['category'] == 7]['file_name'].tolist()[:100]
cat_8 = serving.loc[serving['category'] == 8]['file_name'].tolist()[:100]

all_serving = cat_1 + cat_2 + cat_3 + cat_4 + cat_5 + cat_6 + cat_7 + cat_8

for cat in all_serving:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'nutrition:servingsize' not in selected_cols[cat]:
        selected_cols[cat]['nutrition:servingsize'] = 'Value Heterogeneity'

### size

In [142]:
#Locate all size columns and remove already selected ones
col_name = 'size'
s = text.loc[(text['column_name'] == 'size') & (text['file_name'].isin(tables)) ]['file_name'].tolist()
for tab in selected_cols:
    if 'size' in selected_cols[tab] and tab in s:
        s.remove(tab)

In [146]:
#Get all values of these columns
pool = multiprocessing.Pool(processes=30)
values = pool.map(get_values, s)
pool.close()
pool.join()

#and put them in a dataframe
size_list = []
i = 0
for val in values:
    class_ = s[i].split('_')[0]
    
    for col in val:
        size_list.append([class_, col, s[i], val[col]])
        
    i += 1
    
size = pd.DataFrame( size_list, columns=['class', 'column_name', 'file_name', 'value'] )

In [151]:
all_size = size['file_name'].tolist()
for cat in all_size:
    if cat not in selected_cols:
        selected_cols[cat] = {}
    if 'size' not in selected_cols[cat]:
        selected_cols[cat]['size'] = 'Value Heterogeneity'

## content

In [166]:
#Locate all content columns and remove already selected ones
col_names = ['nutrition:fatcontent', 'nutrition:carbohydratecontent', 'nutrition:proteincontent', 'nutrition:sodiumcontent', 'nutrition:sugarcontent', 'nutrition:saturatedfatcontent', 'nutrition:fibercontent', 'nutrition:cholesterolcontent', 'nutrition:transfatcontent', 'nutrition:unsaturatedfatcontent']
con = set()
for col in col_names:
    for t in text.loc[(text['column_name'] == col) & (text['file_name'].isin(tables)) ]['file_name'].tolist():
        con.add(t)
for tab in selected_cols:
    for col in col_names:
        if col in selected_cols[tab] and tab in con:
            con.remove(tab)

In [171]:
#Get all values of these columns
fatcontent = pd.DataFrame(columns=['class', 'column_name', 'file_name', 'value'])
for col in col_names:
    
    con = []
    for t in text.loc[(text['column_name'] == col) & (text['file_name'].isin(tables)) ]['file_name'].tolist():
        con.append(t)
        
    for tab in selected_cols:
        if col in selected_cols[tab] and tab in con:
            con.remove(tab)
    
    col_name = col
    pool = multiprocessing.Pool(processes=30)
    values = pool.map(get_values, con)
    pool.close()
    pool.join()
    
    sub = []
    i = 0
    for val in values:
        class_ = con[i].split('_')[0]

        for col in val:
            sub.append([class_, col, con[i], val[col]])

        i += 1
        
    c = pd.DataFrame( sub, columns=['class', 'column_name', 'file_name', 'value'] )
    fatcontent = pd.concat([fatcontent, c])

In [173]:
fatcontent['category'] = fatcontent['value'].apply(lambda row: weight_cat(str(row).lower()))

In [175]:
for col in col_names:
    cat_7 = fatcontent.loc[(fatcontent['category'] == 7) & (fatcontent['column_name'] == col )]['file_name'].tolist()[:200]
    cat_8 = fatcontent.loc[(fatcontent['category'] == 8) & (fatcontent['column_name'] == col )]['file_name'].tolist()[:200]
    
    for cat in cat_7+cat_8:
        if cat not in selected_cols:
            selected_cols[cat] = {}
        if col not in selected_cols[cat]:
            selected_cols[cat][col] = 'Value Heterogeneity'

### Date columns

In [9]:
date = pd.read_csv('../ColumnStatistics/datecols.csv.gz', compression='gzip')
date = date.loc[date['file_name'].isin(tables)]
date

,class,column_name,file_name,value
0,Event,startdate,Event_davidlohmueller.com_September2020.json.gz,"['2021-05-04T19:00:00+01:00', '2021-03-07T17:3..."
1,Event,enddate,Event_davidlohmueller.com_September2020.json.gz,"['2021-05-04T21:30:00+01:00', '2021-03-07T19:0..."
3,Event,startdate,Event_ateneumteatr.pl_September2020.json.gz,"['2020-09-06T16:00:00+02:00', '2020-09-12T11:3..."
4,Event,enddate,Event_ateneumteatr.pl_September2020.json.gz,"['2020-09-06T16:00:00+02:00', '2020-09-12T11:3..."
5,Event,offers:validfrom,Event_ateneumteatr.pl_September2020.json.gz,"['2020-08-18T00:00:00+00:00', '2020-08-18T00:0..."
...,...,...,...,...
411904,Event,startdate,Event_arc-ad.org_September2020.json.gz,"['2020-09-11T18:00:00-06:00', '2020-02-20T18:0..."
411905,Event,enddate,Event_arc-ad.org_September2020.json.gz,"['2020-09-11T20:00:00-06:00', '2020-02-20T19:3..."
411906,Product,offers:pricevaliduntil,Product_ameliebaku.com_September2020.json.gz,"['2020-10-10', '2020-10-10', '2020-10-10', '20..."
411907,Product,offers:pricevaliduntil,Product_mandystanley.com_September2020.json.gz,"['2021-12-31', '2021-12-31', '2021-12-31', '20..."
411908,Product,offers:pricevaliduntil,Product_blksport.com_September2020.json.gz,"['2020-10-08', '2020-10-07', '2020-10-07', '20..."

In [10]:
format_1 = '^(Aug|Jan|Feb|Mar|May|Apr|June|July|Sep|Oct|Nov|Dec)+ [0-9]*, [0-9]{4}$'
format_2 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$'
format_3 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
format_4 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$'
format_5 = '^(January|February|March|April|May|June|July|August|September|October|November|December)+ [0-9]{1,}, [0-9]{4}$'
format_6 = '^(Aug|Jan|Feb|Mar|May|Apr|June|July|Sep|Oct|Nov|Dec)+\. [0-9]{2}, [0-9]{4}, [0-9]{1,2}:[0-9]{2} (a|p)+\.m\.$'
format_7 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{6}$'
format_8 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$'
format_9 = '^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\+|\-)+[0-9]{2}:[0-9]{2}$'
format_10 = '^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$'
format_11 = '^[0-9]{2}\/[0-9]{2}\/[0-9]{4} [0-9]{1,2}:[0-9]{2}:[0-9]{2} (am|pm|AM|PM)$'
format_12 = '^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{1,2}:[0-9]{2}:[0-9]{2} [a-zA-Z]{3}$'

In [16]:
#Group all date columns under different categories based on the formats
different_date_formats = {1:[], 2:[], 3:[], 4:[], 5:[], 6:[], 7:[], 8:[], 9:[], 10:[], 11:[], 12:[]}

for index, row in date.iterrows():
    val = eval(row['value'])
    t = type_lbls[row['column_name']+'_'+row['file_name']]
    
    #print(val[0])
    
    if isinstance(val[0], str):
        check = val[0]
    elif isinstance(val[0], dict):
        if 'date' in val[0]:
            check = val[0]['date']
        elif 'datepublished' in val[0]:
            check = val[0]['datepublished']
        else:
            check = val[0]['date']
            #print(val[0])
    elif isinstance(val[0], list):
        check = val[0][0]
        
    #print(check)
    if isinstance(check,list):
        check = check[0]
    elif pd.isnull(check):
        check = ''        
                
    if re.match(format_1, check):
        different_date_formats[1].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_2, check):
        different_date_formats[2].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_3, check):
        different_date_formats[3].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_4, check):
        different_date_formats[4].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_5, check):
        different_date_formats[5].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_6, check):
        different_date_formats[6].append([row['class'], row['column_name'], row['file_name'], row['value'], t])    
    elif re.match(format_7, check):
        different_date_formats[7].append([row['class'], row['column_name'], row['file_name'], row['value'], t])  
    elif re.match(format_8, check):
        different_date_formats[8].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_9, check):
        different_date_formats[9].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_10, check):
        different_date_formats[10].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_11, check):
        different_date_formats[11].append([row['class'], row['column_name'], row['file_name'], row['value'], t])
    elif re.match(format_12, check):
        different_date_formats[12].append([row['class'], row['column_name'], row['file_name'], row['value'], t])

In [ ]:
#Choose 400 columns from each category
for date_format in different_date_formats:
    df = pd.DataFrame(different_date_formats[date_format], columns=['class', 'column_name', 'file_name', 'value'])
    
    cols = list(df['column_name'].unique())
    
    for col in cols:
        some_cols = df.loc[df['column_name'] == col ]['file_name'].tolist()[:400]
        
        for c in some_cols:
            if c not in selected_cols:
                selected_cols[c] = {}
            if col not in selected_cols[c]:
                selected_cols[c][col] = 'Value Heterogeneity'

In [198]:
selection = annotated_tables.loc[ annotated_tables['file_name'].isin(selected_cols) ]
sel_cols = []
for index, row in selection.iterrows():
    sel_cols.append(selected_cols[row['file_name']])
selection['selected_cols'] = sel_cols
selection.to_csv('output-data/cpa-datasets/selected_1_2.csv', index=False)